* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
.container {
  width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}
/*主体部分*/
.container .container_main {
  width: 600px;
  height: 560px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -280px;
}
.container .container_main .main {
  width: 370px;
  height: 520px;
  background-color: #fff;
  margin: 0 auto;
}
.container .container_main .main .header {
  width: 285px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  font-family: "微软雅黑";
}
.container .container_main .main .header .opt {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  /*font-family: "微软雅黑";*/
  color: #616161;
}
.container .container_main .main .header .opt input {
  width: 16px;
  height: 16px;
}
.container .container_main .main .header button {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/user_pass_sch_n.png) no-repeat;
}
.container .container_main .main .header .icon {
  width: 90px;
  height: 90px;
  display: inline-block;
  background: url(../assets/user_reg_icon_student.png) no-repeat;
  background-size: cover;
}
.container .container_main .main .header .header_left {
  width: 94px;
  height: 140px;
  float: left;
  margin-top: 26px;
}
.container .container_main .main .header .header_right {
  width: 94px;
  height: 140px;
  float: right;
  margin-top: 26px;
}
.container .container_main .main .header .header_right .icon {
  background: url(../assets/user_reg_icon_student.png) no-repeat;
  background-size: cover;
}
/*输入框部分*/
.container .container_main .main .content input {
  width: 368px;
  height: 50px;
  display: block;
  margin-top: 20px;
  font-size: 15px;
  outline-color: #35B355;
  /*outline: none;*/
  /*border: 1px solid #CED2D2;*/
}
/*按钮部分*/
.container .container_main .main .btn {
  margin-top: 28px;
  text-align: center;
}
.container .container_main .main .btn button {
  width: 330px;
  height: 50px;
  font-size: 14px;
  border: none;
  background-color: #3DCC61;
  color: #fff;
}
.container .container_main .main .btn a {
  display: block;
  color: #999999;
  font-size: 14px;
  margin-top: 15px;
}
